{% extends 'bases/base.html' %}
{% load static %}
    <!-- header-end -->
{% block content %}
    <!-- photography_slider_area_start -->
    <div class="photography_slider_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="photoslider_active owl-carousel">
                        <div class="single_photography">
                            <img src="{% static 'img/photography/single-1.jpg' %}" alt="">
                            <div class="photo_title">
                                <h4>Photography</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{% static 'img/photography/single-2.jpg' %}" alt="">
                            <div class="photo_title">
                                <h4>Travel Shot</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{% static 'img/photography/single-3.jpg' %}" alt="">
                            <div class="photo_title">
                                <h4>Photoshop</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{% static 'img/photography/single-4.jpg' %}" alt="">
                            <div class="photo_title">
                                <h4>Lens</h4>
                            </div>
                        </div>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- photography_slider_area_end -->

    <!-- most_recent_blog_start -->
   {% include 'includes/mostrecent.html' %}
    <!-- most_recent_blog_end -->

    <!-- photo_gallery_start -->
    {% include 'includes/photo_gallery.html' %}
    <!-- photo_gallery_end -->

    <!-- subscribe_newsletter_start -->
    {% include 'includes/newsletter.html' %}
    <!-- subscribe_newsletter_end -->

    <!-- instagram_media_area_start -->
    {% include 'includes/instagram.html' %}
    <!-- instagram_media_area_end -->
{% endblock %}