{% load static %}
<div class="photo_gallery">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-33">
                        <h3>Photo Gallery</h3>
                    </div>
                </div>
                <div class="col-xl-12">
                    {% for cat in categ %}
                    <div class="photo_gallery_active owl-carousel">
                        <div class="single_photo_gallery gallery_bg_1" style="background-image:url({{categ.cover.url}});">
                            <div class="photo_caption">
                                <h3>{{cat.titre}}</h3>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="single_photo_gallery gallery_bg_2"  style="background-image:url({{cat.cover.url}});">
                            <div class="photo_caption">
                                <h3>{{cat.titre}}</h3>
                            </div>
                        </div>
                        <div class="single_photo_gallery gallery_bg_1"  style="background-image:url({{cat.cover.url}});">
                            <div class="photo_caption">
                                <h3>{{cat.titre}}</h3>
                            </div>
                        </div>
                        <div class="single_photo_gallery gallery_bg_2" style="background-image:url({{cat.cover.url}});">
                            <div class="photo_caption">
                                <h3>{{cat.titre}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>